<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>{{channel}} {{date}}</title>
		<link rel="stylesheet" type="text/css" href="/irc-logs-couchone-internal/_design/logs/style/default.css" media="screen" />
        <script type="text/javascript" src="/irc-logs-couchone-internal/_design/logs/js/jquery-1.4.min.js"></script>
        <script type="text/javascript" src="/irc-logs-couchone-internal/_design/logs/js/jquery.plugins.js"></script>
        <script type="text/javascript" src="/irc-logs-couchone-internal/_design/logs/js/global.js"></script>

    </head>
    <body><div class="wrapper">
    {{#date}}
    <div class="hdr">
        <h1><a href="/irc-logs-couchone-internal/_design/logs/_list/days/all-by-channel?startkey=[%22{{channel_encoded}}%22,{}]&group=true&descending=true">{{channel}}</a><span class="date">{{date}}</span></h1>
    </div>
    {{/date}}
    {{^date}}
    <div style="padding: 12px 20px 18px;">
        <h1>{{channel}}</h1>
    </div>
    {{/date}}